//variable
$runner-speed: 1s;

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: Arial, sans-serif;
}

:root {
  --baseSpeed: 1s; /* Default animation duration */
}

@import "animations";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.game-board {
  position: relative;
  width: 600px;
  height: 200px;
  border: 2px solid #333;
  overflow: hidden;
  background-color: #fff;
}

.runner {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: #333;
  transition: width 0.3s, height 0.3s;
  &.jump {
    animation: jump 0.3s linear;
  }
  &.duck {
    width: 60px;
    height: 20px;
    background-color: #444;
  }
}

.product {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 40px;
  background-color: #555;
  animation: move 2s infinite linear;
}

#product1 {
  animation-delay: 0s; // First obstacle, no delay
}

#product2 {
  animation-delay: 1s; // Second obstacle, 1-second delay
}

#product3 {
  animation-delay: 2s; // Third obstacle, 2-second delay
}

.power-up {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: gold;
  animation: move 6s infinite linear;
}

.invisible {
  display: none;
}
